* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

body {


    
    background-color: var(--gray-2);
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --grey: RGB(31, 31, 31);
    --dark_grey: RGB(12, 12, 12);
    --light_grey: #BCBCBC;
    --gray-2: #383838;
    --white: rgb(255, 255, 255);

}


.nothing {
    margin-left: 29rem;
    color: white;
    font-size: 3rem;
    padding: 6rem;
}

.like {
    color: white;
}

.like_1 {
    color: white;
    margin-top: 1rem;
}

