.navbar {
    position: fixed;
    background-color: var(--grey);
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.search {

    font-family: 'Ubuntu', sans-serif;
    width: 15rem;
    height: 1.4rem;

}

.logo {
    margin-right: 1rem;
    width: 2.5rem;
    border-radius: 30px;

}

li a {
    color: white;
}

.web_name {
    margin-left: 1rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

/* <!- -------------------------------------------------------------------------------------------------------------------------------------> */
.side_bar:hover {

    transition: 0.3s;
    left: 0;
    width: 15%;
}


.side_bar {



    position: fixed;
    left: -125px;
    width: 15%;
    height: 100vh;
    background-color: var(--dark_grey);
    /* position: absolute; */
}

.side_bar li {
    color: white;
    font-size: 1.3rem;

}

.side_bar li:hover {
    transition: 0.5s;
    transform: translateY(-5px);
}

.side_bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.icon {
    margin: 2rem;
}

.icon:hover {
    transition: 0.5s;
    transform: translateY(-5px);
}

.menu {
    width: 1.5rem;
    color: white;

}
#id_icon:active{
transform: translateY(2px);
transition: 0.5s;
}

/* --------------------------------------------ACCOUnt-------------------------------------- --------------------- ------------------------------ */

.account_card {


    position: absolute;
    margin-left: 32rem;
    margin-top: 5rem;
    color: white;

    background-color: white;
    width: 19rem;
    height: 22rem;


}

.login {
    width: 89%;
    height: 78%;
    margin: 1rem;
    background-color: var(--grey);

    /* background-image: url(img/Download\ premium\ image\ of\ Aesthetic\ flower\ HD\ wallpaper\,\ minimal\ beige\ background\ with\ window\ shadow\ by\ Ning\ about\ shadow\ window\,\ windows\ desktop\ wallpaper\,\ desktop\ wallpapers\,\ pink\ flower\,\ and\ shadow\ flower\ .jfif); */
    border: solid 1px black;
    background-repeat: no-repeat;
    background-size: cover;


}

.cover {
    width: 89%;
    height: 78%;
    margin: 1rem;
    background-color: rgba(2, 2, 2, 0.219)(24, 24, 24);

    background-repeat: no-repeat;
    background-size: cover;
}

::placeholder {

    font-size: 1em;
    color: rgb(156, 156, 156);
    background: rgb(255, 255, 255);
    padding: 5px;
}

.login_pass {
    text-shadow: -9px 4px 3px rgb(0 0 0 / 48%);
    margin-top: 4rem;
    color: rgb(255, 255, 255);
    margin-left: 5.5rem;
    font-family: 'Oswald', sans-serif;
}

.login_pass_1 {
    font-family: 'Oswald', sans-serif;
    text-shadow: -9px 4px 3px rgb(0 0 0 / 48%);
    color: rgb(255, 255, 255);
    margin-left: 4rem;

}

.pass {
    margin-left: 1.7rem
}

.login_icon {
    width: 5rem;
    padding: 5px;
    color: black;
    margin-left: 3.5rem;
    margin-right: 2rem;
    box-shadow: 0 0 3px #000000, 0 0 0px #262626;

}

.cancle_icon {
    box-shadow: 0 0 3px #000000, 0 0 0px #262626;
    width: 5rem;
    padding: 5px;
    color: black;


}

/* ---------------------------------------------------------------------------------- --------------------- ------------------------------ */

.main {

    display: grid;
    grid-template-rows: 25rem;
    grid-template-columns: 20rem 20rem 20rem 20rem;

}



.card_1 {
    overflow: hidden;
    box-shadow: 13px 12px 10px;
    /* background-color: rgb(32 32 32); */
    background-color: var(--grey);
    background-size: cover;
    margin: 5rem;
    margin-left: 7rem;
    width: 15rem;
    height: 21rem;
    /* background-color: var( --white);
   */


}


.card_img {
    width: 15rem;
    margin: 0;
    height: 14rem;

}

.card_img_1 {

    width: 13rem;
    margin: 15px 0 0 13px;

}

.card_text {
    background-color: var(--grey);
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 0.5rem;
    margin: 0.5rem;
}


.active {
    color: red;
}

/* ------------- */

.like_button {
    background-color: var(--grey);
    color: white;
    border: none;
}

.like_button:active {
    transition: 0.2s;
    transform: translateY(2px);
    color: red;
}

.card_1:hover {
     box-shadow: none;
  
    transition: 0.5s;
    transform: scale(1.15) translateY(10px);
    

}
.card_1 .card_text:hover {
    
    
    
    height: 9rem;
    transform: translateY(-115px);
    text-align: center;
    color: red;
    transition: 0.5s;
    background-color: rem;
    background-color: #1f1f1fdb;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ff0000 #1c1c1c;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #1c1c1c;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 6px;
    border: 0px none #ffffff;
}